input {
	padding: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	left: 34%;
	border: none;
	box-shadow: 2px 10px 15px lightgrey;
    width: 300px; /* Ajustez la largeur selon vos besoins */
}
a:hover{
    color: #B1663C;
}
a {
    text-decoration: none;
    color: black;
}
